<!doctype html>


<html>
    <head>
        <meta charset='utf-8'>
        <title> cNote | Base on which ever route come first  </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/createAndEdit.css') }}">
    </head>


    <body>

        <form method='POST' action="/notes">
            <input type="color" name="color">
            <textareal name="note"> </textareal>
            <h4> 05/10/2019 </h4>

            <!-- action tags -->
            <select name="action">
                    <option value="NONE">NONE</option>
                    <option value="URGENT">URGENT</option>
                    <option value="CHILLING">CHILLING</option>
                    
            </select>
            <input type="submit" name="save" value="Saved"/>            
        
        </form>

       
    </body>

</html>