<!doctype html>


<html>
    <head>
        <title> cNote | Home </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>


    <body>

        
        <div id="big-body-wrap" >
            <!-- create 3 big gaint div that divide both height and width equally -->
            <a href="/todo" class="a">
            <div id="todo" class="dashboard">
                
                    <h1> TODO +  </h1>
                    <!-- <h4> Create New here </h4> -->
            </div>
         </a>

            <a href="/doing"  class="a">
            <div id="doing" class="dashboard">
                    <h1> DOING </h1>
            </div>
            </a>
            

            <a href="/done" class="a">
            <div id="done" class="dashboard">
                    <h1 style=" color: black "> DONE </h1>
            </div>
            </a>

        

        </div>

        

    </body>

</html>