<!doctype html>


<html>
    <head>
        <title> cNote | Home </title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>


    <body>

        <a href="/create"> + </a>
        <div id="big-body-wrap" >
            <!-- create 3 big gaint div that divide both height and width equally -->
            <div id="todo"  >
                <!-- create 3 big gaint div that divide both height and width equally -->
                <h4> Todo </h4>
                <a href="/view" class="viewNote">
                   
                <div class="notes">
                    {{ form_infos['text'] }}
                    {{ form_infos['action'] }}
                   
                   
                </div>
                
                </a>
            </div>
            

            <div id="doing" >
                <!-- create 3 big gaint div that divide both height and width equally -->
                <h4> Doing </h4>
                <div class="notes">
                    
                </div>
            </div>
    
            <div id="done" >
                <!-- create 3 big gaint div that divide both height and width equally -->
                <h4> Done </h4>
                <div class="notes">
                    
                </div>
            </div>

        </div>

        

    </body>

</html>