*{
    background: coral;
}


#big-body-wrap{

    /* take full screen */
    width: 100%; 
    height: 200px;
    background: blueviolet;
    margin: 10px;
    text-align: center;
    float: left;


}

#todo{

    width: 30%; 
    height: atuo;
    background: red;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

#doing{

    width: 30%; 
    height: atuo;
    background: blueviolet;
    margin: 10px;
    text-align: center;
    display: inline-block;

}


#done{

    width: 30%; 
    height: atuo;
    background: blueviolet;
    margin: 10px;
    text-align: center;
    display: inline-block;

}





